.footer-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 30px 50px;
  height: 200px;
  background-color: #333;
  color: #fff;

  a {
    color: #eee;
  }
}

.page-links,
.social-media {
  h3 {
    text-align: center;
  }

  ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
}
